@model Domain.OrmLib.Entity.WeiXinMenu
@{
    ViewBag.Title = "MenuEdit";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@section header {

}

@section body{
    @using (Html.BeginForm("MenuSaveOrUpdate", "WeiXin", FormMethod.Post, new { id = "dataForm" }))
    {
        <table class="datalistDaily" cellpadding="5" style="font-size:12px;margin-top:10px;margin-left:10px;">
            <tr>
                <td style="text-align:right;">菜单编码：</td>
                <td>
                    <input class="easyui-textbox" id="MenuId" name="MenuId"
                           style="width:300px;" data-options="required:true" value="@Model.MenuId" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">菜单名字：</td>
                <td>
                    <input class="easyui-textbox" id="MenuName" name="MenuName"
                           style="width:300px;" data-options="required:true" value="@Model.MenuName" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">动作类型：</td>
                <td>
                    <select id="MenuType" name="MenuType" class="easyui-combobox" style="width:300px;">
                        <option selected="selected" value="view">跳转URL</option>
                        <option value="click">点击推事件</option>
                        <option value="scancode_push">扫码推事件</option>
                        <option value="scancode_waitmsg">扫码推事件且弹出(消息接收中)提示框</option>
                        <option value="pic_sysphoto">弹出系统拍照发图</option>
                        <option value="pic_photo_or_album">弹出拍照或者相册发图</option>
                        <option value="pic_weixin">弹出微信相册发图器</option>
                        <option value="location_select">弹出地理位置选择器</option>
                        <option value="media_id">下发消息（除文本消息）</option>
                        <option value="view_limited">跳转图文消息URL</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">菜单Url：</td>
                <td>
                    <input class="easyui-textbox" id="MenuUrl" name="MenuUrl"
                           style="width:300px;" value="@Model.MenuUrl" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">菜单Key：</td>
                <td>
                    <input class="easyui-textbox" id="MenuKey" name="MenuKey"
                           style="width:300px;" value="@Model.MenuKey" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">菜单排序：</td>
                <td>
                    <input class="easyui-textbox" id="OrderBy" name="OrderBy" data-options="required:true"
                           style="width:300px;" value="@Model.OrderBy" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">菜单状态：</td>
                <td>
                    <select id="IsEnable" name="IsEnable" class="easyui-combobox" style="width:300px;">
                        <option selected="selected" value="1">启用菜单</option>
                        <option value="0">禁用菜单</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">上级菜单：</td>
                <td>
                    <input class="easyui-combotree" name="ParentId" id="ParentId" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.UserNum)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.CreateTime)
                    <a icon="icon-ok" class="easyui-linkbutton" onclick="save()">存盘</a>
                </td>
            </tr>
        </table>
    }

    }

@section scripts {
<script src="~/Content/oa/scripts/xlayout.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ParentId').combotree({
            url: "/WxMenu/MenuTree",
            required: true,
            multiple: false,
            lines: true,
            queryParams: { ids: '@Model.ParentId' },
            onLoadSuccess: function () {
                $('#ParentId').combotree('setValue', '@Model.ParentId');
            }
        });
        $('#MenuType').combobox('setValue', '@Model.MenuType');
        $('#IsEnable').combobox('setValue', '@Model.IsEnable');
    })


    function save() {
        var dataForm = $("#dataForm").form('validate');
        if (!dataForm) return;


        $.ajax({
            url: "/WxMenu/MenuSaveOrUpdate",
            data: $("#dataForm").serialize(),
            dataType: "json",
            type: "POST",
            traditional: true,
            success: function (result) {
                
                if (result.Success) {
                    showMsg("系统提示", result.Message, false);
                    parent.location.reload();
                } else {
                    showMsg("系统提示", result.Message, false);
                }
            }
        });
        return false;
    }
    function showMsg(title, msg, isAlert) {
        if (isAlert !== undefined && isAlert) {
            $.messager.alert(title, msg);
        } else {
            $.messager.show({
                title: title,
                msg: msg,
                showType: 'show'
            });
        }
    }

    </script>

}

